header {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    /* background-color: var(--main-bg-color); */
    background-color: #232222;
}

nav {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.logo {
    height: 1.5rem;
}

.active {
    color: darkorchid;
}
